<h2 class="heading-title">How does it<span>Work</span></h2>

<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_1.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Create an account</h3>
        <p>This is the first step to creating your The Movie List account. Fill your Email and password to complete your account sign-up process.</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_2.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Search, filter movies</h3>
        <p>Use the search filter to specify movies you are looking for by changing: ratings, genres and sort by option.</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_3.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Choose movies to get notified</h3>
        <p>Select the preferred option to recieve your notifications by Email or push-notification.</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_4_1.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Set your personalized notification filter</h3>
        <p>For using this feature head to My Account settings to set the default notification filter to which movies you want to get notified.</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_4.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Be the first who knows</h3>
        <p>Recieve your ordered notifications you have chosen by single movie or by your default notification filter set in My Account.</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->
<div class="process-container">
    <div class="process-image process-item">
        <img src="assets/img/process_5.jpg">
    </div>
    <!--.process image-->
    <div class="process-content process-item">
        <h3>Enjoy the movies</h3>
        <p>Invite your friends and don't miss a single movie anymore!</p>
    </div>
    <!--.process content-->
</div>
<!--.process-container-->